@use 'variables' as v;

footer{
    background-color: v.$coul-neutre-pale;
    color: v.$coul-principale;
    padding-top: 1em;

    p{
        color: v.$coul-neutre-foncee;
    }
}

.footer__logo{
	margin: 15px 0;
	max-height: 200px;
	max-width: 200px;
	width: 100%;
	position: relative;
	animation: rotate-itself 3s 1s normal backwards ease-in;
}

.footer-content{
	display: flex;
    flex-direction: column;
	justify-content: space-between;
	align-items: center; 
  }

.icons-container{
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__icons{
    display: inline-block;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    padding: 0 0.5em;
    }
}

.coordonnees-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
    &__coordonnees{
    text-decoration: none;
    color: v.$coul-neutre-foncee;
    font-family: v.$font-titres;
    font-size: 1em;
    align-items: center;
    margin: 0;
    padding: 0;
    }
}
  
.fond-blanc{
    background-color: v.$coul-principale;
    padding: 1em;
    margin-top: 3em;
}

.flex-utilitaire {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
  
.col-tiers {
    width: 32%;
}

@keyframes rotate-itself {
	from {left: 0;}
	to {
		right: 0;
		transform: rotate(360deg);		
	}
}
