@use 'variables' as v;

.section {
    display: inline;

    &__infolettre {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__infolettre-titre {
        display: flex;
        text-transform: uppercase;
        font-family: v.$font-titres;
        font-size: 2.5em;
        text-align: center;
        margin: 3em 0em 0.5em 0em;
    }

    &__infolettre-txt {
        font-family: v.$font-standard;
        font-size: 1.5em;
        margin-bottom: 1em;
    }

    &__form {
    margin: 0em;
    padding-bottom: 4em;
    font-size: 1.3em;
    width: 30%;
    }

    &__form-label {
	    display: none;
    }

    &__form-input {
        border-radius: v.$border-radius-input;
        border: v.$border-btn;
        font-size: 1em;
	    padding: 0.5em;
	    margin: 0 2em;
	    width: 20em;
    }

    &__form-position {
	    display: flex;
	    flex-direction: row;
	    justify-content: center;
	    align-items: center;
    }

    &__btn-action {
	    padding: 0.5em 2em;
        margin: 0 1em;
        background-color: v.$coul-neutre-foncee;
	    color: v.$coul-principale;
	    border: v.$border-btn;
        border-radius: v.$border-radius-btn;
    
        &:hover {
            background-color: v.$coul-secondaire;
            color: v.$coul-neutre-foncee;
        }

        &--envoyer {
            background-color: v.$coul-neutre-foncee;
            color: v.$coul-principale;
            font-weight: 600;
            text-transform: uppercase;
        
            &:hover {
                background-color: v.$coul-accent; 
            }

            &--savoir-plus {
                background-color: v.$coul-secondaire;
                color: v.$coul-neutre-foncee;

                &:hover {
                    background-color: v.$coul-accent;
                    color: v.$coul-principale;
                }
            }
        }
    }
}

.flex-stat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 6em;

    &__image {
        width: 85%;
    }

    &__carte {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__donnees {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    }

    &__p {
        margin-bottom: 2em;
    }

    &__a {
        display: inline;
        text-decoration: none;
        padding: 0.5em 1em;
        margin: 10em 0em;
        font-weight: 600;
        text-transform: uppercase;
    }
}

.col-demie {
    width: 48%;
    align-content: start;
}

.col-quart {
    width: 23%;
}

.col-trois-quart {
    width: 73%;
}

h2 {
    display: inline;
    margin: 0em;
    padding: 0em;
    text-transform: uppercase;
}

p {
    margin: 0em;
    padding: 0em;
}

.btn-envoyer{
    @extend .section__btn-action;
    @extend .section__btn-action--envoyer;
}

.btn-savoir-plus{
    @extend .section__btn-action;
    @extend .section__btn-action--savoir-plus;
}

/* ----------- Media Queries ------------*/

@media screen and (max-width: 850px) {
    .flex-stat{
      flex-direction: column;
    }
    .col-demie{
        width: auto;
    }
    .section__form-position{
        flex-direction: column;
    }
    .section__form-input{
        margin: 1em;
    }
  }
