$padding-btn: 1em 1em;
$border-radius-btn: 2em;
$border-btn: 1px solid #f5017c;
$border-radius-input: 1em;
$border-img: 0.2em solid #f5017c;
$border-radius-img: 2em;
$font-standard: 'Open Sans', sans-serif;
$font-titres: 'Lato', sans-serif;
$coul-principale: #ffffff;
$coul-secondaire: #fea2b1;
$coul-neutre-pale: #8f929578;
$coul-neutre-moyen: #8f9295;
$coul-neutre-foncee: #00203d;
$coul-accent: #f5017c;