@use 'variables' as v;
@use 'header';
@use 'navigations';
@use 'section-1';
@use 'section-2';
@use 'footer';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* Composantes principales */
* {
	box-sizing: border-box;
}

body {
	background-color: v.$coul-principale;
	color: v.$coul-neutre-foncee;
	line-height: 1.4;
  font-family: v.$font-standard;
}

.container {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}

/*------ Page confirmation inscription infolettre ------ */

.position {
  display: flex;
  justify-content: center;
  padding: 5em;
  margin: 0;
}