@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$padding-btn: 1em 1em;
$border-radius-btn: 2em;
$border-btn: 1px solid #f5017c;
$border-radius-input: 1em;
$border-img: 0.2em solid #f5017c;
$border-radius-img: 2em;
$font-standard: 'Open Sans', sans-serif;
$font-titres: 'Lato', sans-serif;
$coul-principale: #ffffff;
$coul-secondaire: #fea2b1;
$coul-neutre-pale: #8f929578;
$coul-neutre-moyen: #8f9295;
$coul-neutre-foncee: #00203d;
$coul-accent: #f5017c;

/* Composantes principales */
* {
	box-sizing: border-box;
}

body {
	background-color: $coul-principale;
	color: $coul-neutre-foncee;
	line-height: 1.4;
  font-family: $font-standard;
}

.container {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}

header {
	background-color: $coul-secondaire;
}

footer {
  background-color: $coul-neutre-moyen;
  color: $coul-principale;
  padding-top: 1em;
}

.header-content{
	display: flex;
	justify-content: space-between;
	align-items: center;	
}

.footer-content{
	display: flex;
  flex-direction: column;
	justify-content: space-between;
	align-items: center; 
  }

.icons{
  display: inline-block;
  align-items: center;
  max-width: 100%;
}

.coordonnees-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.coordonnees{
  text-decoration: none;
  color: $coul-neutre-foncee;
  font-family: $font-titres;
  font-weight: 600;
  font-size: 1.1em;
  align-items: center;
}

.fond-blanc{
  background-color: $coul-principale;
  padding: 1em;
  margin-top: 3em;
}

.social-media-container{
  display: flex;

}

.logo{
	width: 100%;

  &--small{
    width: 50%;
  }

  &--centrer{
    align-items: center;
  }
  }

.nav-list {
	list-style: none;

  &__list-item{
    display: inline-block;
    margin-left: 0.8em;
  }

  &__link{
    text-transform: uppercase;
    padding: $padding-btn;
    text-decoration: none;
    border-radius: $border-radius-btn;
    color: $coul-principale;
    font-weight: 600;

    &--actuel-header{
      border-right: 0.5em solid $coul-accent;
      border-left: 0.5em solid $coul-accent;
    }

    &--actuel-footer{
      border-right: 0.5em solid $coul-accent;
      border-left: 0.5em solid $coul-accent;
    }
  }

  &__link:hover{
    background-color: $coul-accent;
  }

  &--small{
    font-size: 0.8em;
  }
}

/*------ Positionnement Flexbox ------ */

/*------ Section 1 ------- */

.flex-points{
  display: flex;
	flex-direction: row;
	justify-content: center;
}

.flex-carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.img-carousel {
  width: 100%;
  border-radius: $border-radius-img;
  border: $border-img;
  margin: 3em 0 1em 0;
}

.img-fleche {
  width: 2em;
  height: 2em;
}

.rond {
  width: 1.5em;
  padding: 0 5px;
  margin-bottom: 3em;
}

/*------ Section 2 ------- */

.titre-centrer {
  text-align: center;
}

.flex-infolettre {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infolettre{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-infolettre{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-formulaire{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.col-quart {
	width: 25%;
  padding: 2em;
}

.col-3-quart {
  width: 75%;
  padding: 2em;
}

label{
	font-weight: 300;
}

input{
	border: $border-btn;
	font-size: 1.2rem;
  font-family: $font-standard;
	color: $coul-accent;
	padding: 0.5em 5em;
}

input[type="submit"]{
	font-size: 1em;
	padding: 0.5em 2em;
  background-color: $coul-accent;
  color: $coul-principale;
}

input, select{
	border-radius: $border-radius-input;
	border: $border-btn;
	padding: 0.5em 5em;
  margin: 0 2em;
	font-size: 1rem;
}

.section-1 {
  background-color: $coul-neutre-pale;
  }

  .section-2 {

  }

  h2{
    text-transform: uppercase;
    font-family: $font-titres;
    font-size: 2em;
  }
  p{
    a{
      color: $coul-accent;
    }
  }

  .btn{
    background-color: $coul-principale;
    color: $coul-accent;
    text-decoration: none;
    display: inline-block;
    padding: $padding-btn;
    border-radius: $border-radius-btn;
    border: solid 0.1em $coul-accent;

    &:hover{
      background-color: $coul-accent;
      color: $coul-principale;
      border: 0.2em solid $coul-neutre-pale;
    }

    &--accent{
      background-color: $coul-accent;
      color: $coul-principale;

      &:hover{
        background-color: $coul-secondaire;
        color: $coul-accent;
      }
    }
  }

  .social-media-container{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .social-media-icons{

  }

  .espace {
    padding: 5em;
  }