@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$padding-btn: 0.5em 1em;
$border-radius-btn: 0.5em; 
$font-standard: 'Open Sans', sans-serif;
$font-titres: 'Lato', sans-serif;
$coul-principale: #ffffff;
$coul-secondaire: #fea2b1;
$coul-neutre-pale: #7d8a99;
$coul-neutre-foncee: #00203d;
$coul-accent: #f5017c;

/* Composantes principales */
* {
	box-sizing: border-box;
}

body {
	background-color: $coul-principale;
	color: $coul-neutre-foncee;
	line-height: 1.4;
  font-family: $font-standard;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}

header{
	background-color: $coul-neutre-pale;
}

footer{
  background-color: $coul-neutre-foncee;
  color: $coul-principale;
  margin-top: auto;
  padding: 1em;
}

.header-content{
	display: flex;
	justify-content: space-between;
	align-items: center;	
}

.footer-content{
	display: flex;
	justify-content: space-between;
	align-items: center; 

  &__message{
    text-align: center;
  }
}

.logo{
	width: 30%;

  &--small{
    width: 10%;
  }
}

.nav-list {
	list-style: none;

  &__list-item{
    display: inline-block;
    margin-left: 0.8em;
  }

  &__link{
    display: inline-block;
    text-transform: uppercase;
    padding: $padding-btn;
    text-decoration: none;
    border-radius: $border-radius-btn;
    color: $coul-accent;

    &--actuel-header{
      border-bottom: 0.2em solid $coul-accent;
    }

    &--actuel-footer{
      border-bottom: 0.2em solid $coul-principale;
    }
  }

  &__link:hover{
    background-color: $coul-principale;
  }

  &--small{
    font-size: 0.8em;
  }
}

.section{
  margin: 2em 0; 
  h2{
    text-transform: uppercase;
  }
  p{
    a{
      color: $coul-accent;
    }
  }

  &__btn{
    background-color: $coul-principale;
    color: $coul-accent;
    text-decoration: none;
    display: inline-block;
    padding: $padding-btn;
    border-radius: $border-radius-btn;
    border: solid 0.1em $coul-accent;

    &:hover{
      background-color: $coul-accent;
      color: $coul-principale;
    }

    &--accent{
      background-color: $coul-accent;
      color: $coul-principale;

      &:hover{
        background-color: $coul-secondaire;
        color: $coul-accent;
      }
    }
  }
 }