@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
header {
  background-color: #fea2b1;
}

.header__logo {
  margin: 15px 0;
  max-height: 200px;
  max-width: 200px;
  width: 100%;
  position: relative;
  animation: rotate-itself 3s 1s normal backwards ease-in;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes rotate-itself {
  from {
    left: 0;
  }
  to {
    right: 0;
    transform: rotate(360deg);
  }
}
/* ------ Navigation header et footer ------*/
.nav-list {
  list-style: none;
}
.nav-list__list-item {
  display: inline-block;
  margin-left: 0.8em;
}
.nav-list__link {
  text-transform: uppercase;
  padding: 1em 1em;
  text-decoration: none;
  border-radius: 2em;
  color: #00203d;
  font-weight: 600;
}
.nav-list__link--actuel {
  border-right: 0.5em solid #f5017c;
  border-left: 0.5em solid #f5017c;
}
.nav-list__link:hover {
  background-color: #f5017c;
}
.nav-list--small {
  font-size: 0.8em;
}

.flex-nav-secondaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5em;
}

.section-1 {
  background-color: rgba(143, 146, 149, 0.4705882353);
}

.flex-points {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.flex-points__rond {
  width: 1.5em;
  padding: 0 5px;
  margin-bottom: 3em;
}

.flex-carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.flex-carousel__img-carousel {
  width: 100%;
  border-radius: 2em;
  border: 0.2em solid #f5017c;
  margin: 3em 0 1em 0;
}
.flex-carousel__img-fleche {
  width: 2em;
  height: 2em;
}

.infolettre {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.infolettre__titre {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 2.5em;
  text-align: center;
  margin: 3em 0em 0.5em 0em;
}
.infolettre__txt {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
}

.form {
  margin: 0em;
  padding-bottom: 4em;
  font-size: 1.3em;
  width: 30%;
}
.form__a {
  text-decoration: none;
  padding: 0.5em 1em;
  margin-top: 5em;
}
.form__label {
  display: none;
}
.form__input {
  border-radius: 1em;
  border: 1px solid #f5017c;
  font-size: 1em;
  padding: 0.5em;
  margin: 0 2em;
  width: 20em;
}
.form__position {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.form__btn-action {
  padding: 0.5em 2em;
  margin: 0 1em;
  background-color: #f5017c;
  color: #ffffff;
  border: 1px solid #f5017c;
  border-radius: 2em;
}
.form__btn-action:hover {
  background-color: #fea2b1;
  color: #00203d;
}
.form__btn-action--envoyer {
  background-color: #00203d;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
}
.form__btn-action--envoyer:hover {
  background-color: #f5017c;
}

.flex-stat {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.flex-stat__btn-savoir-plus {
  background-color: #f5017c;
  color: #ffffff;
  margin: 5em 0;
}
.flex-stat__image {
  width: 85%;
}

.flex-donnees {
  display: flex;
  flex-direction: row;
  padding: 0;
}
.flex-donnees__interligne {
  margin: 0;
}

.col-demie {
  width: 50%;
  align-content: start;
}

.col-quart {
  width: 23%;
}

.col-trois-quart {
  width: 73%;
}

footer {
  background-color: rgba(143, 146, 149, 0.4705882353);
  padding-top: 1em;
}
footer p {
  color: #00203d;
}

.footer__logo {
  margin: 15px 0;
  max-height: 200px;
  max-width: 200px;
  width: 100%;
  position: relative;
  animation: rotate-itself 3s 1s normal backwards ease-in;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.icons-container__icons {
  display: inline-block;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  padding: 0 0.5em;
}

.coordonnees-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.coordonnees-container__coordonnees {
  text-decoration: none;
  color: #00203d;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  align-items: center;
  margin: 0;
  padding: 0;
}

.fond-blanc {
  background-color: #ffffff;
  padding: 1em;
  margin-top: 3em;
}

.flex-utilitaire {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.col-tiers {
  width: 32%;
}

@keyframes rotate-itself {
  from {
    left: 0;
  }
  to {
    right: 0;
    transform: rotate(360deg);
  }
}
/* Composantes principales */
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #00203d;
  line-height: 1.4;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.logo {
  width: 100%;
}
.logo--small {
  width: 50%;
}
.logo--centrer {
  align-items: center;
}

/*------ Page confirmation inscription infolettre ------ */
.position {
  display: flex;
  justify-content: center;
  padding: 5em;
  margin: 0;
}/*# sourceMappingURL=style.css.map */